<section class="full-width-background" [style.background-image]="'url(' + backgroundImageUrl + ')'">
   <div class="details-hero">
    <h2>МАРОКО</h2>
    <p>Нашият първи по рода си ритрийт за solo travelers - една седмица приключения, медитация, игри, спа и партита.</p>
   </div>
  </section>
  <section class="details-page">
    <div class="details-info">
        <img src="/assets/media/desert.webp" alt="desert">
        <div class="desc-info">
            
            <h3>Това е място, където можете да се отпуснете, да се забавлявате и да срещнете нови хора</h3>
            <p>Готов ли си да разчупиш леда и да се предадеш на нестандартния ни подход за приключенстване? 

                Добре дошли на нашия ритрийт за solo travelers. Това е място, където можете да се отпуснете, да се забавлявате и да срещнете нови хора, без да се притеснявате за отношенията или ангажиментите.
                
                Избягайте от шума и суетата на ежедневието и се впуснете в трансформиращо пътешествие, предназначено изключително за необвързани. Уникално място за отдих, което предлага перфектна комбинация от приключения, себеоткриване и връзка с хора с подобно мислене. Независимо дали търсите лично израстване, нови приятелства или просто бягство за презареждане, ви обещаваме незабравимо изживяване.
                
                Еднакъв брой мъже и жени. 
                Има изисквания за участите,  моля четете най-отдолу.
                
                Всичко това се случва в самостоятелна вила с басейн, готвач и транспорт в Маракеш.
                
                В рамките на ритрийта предлагаме разнообразни активности, които ще ви помогнат да се отпуснете и да се забавлявате.</p>
        </div>
    </div>
    <div class="desc-prog">
        <h2>Програма</h2>
        <div class="single-day">
            <img src="assets/media/beach.webp" alt="">
            <div class="single-desc">
                <p>Ден 1</p>
                <h3>Магично пристигане в Мароко</h3>
                <p>Добре дошли в земята на контрастите, където всеки кът носи история, а въздухът е пропит с аромата на подправки и авантюра. Вашият първи ден започва с топло посрещане и настаняване в бутикова вила, където уютът среща мароканския колорит и обещание за открития. Вечерята ни обещава кулинарно пътешествие, поднесено от нашия личен готвач, който ще ви запознае със забележителните вкусове на Мароко. Вечерта е озарена от игри и опознавателни дейности, които ще ви помогнат да се сближите с вашите спътници в пътешествието.</p>
            </div>
        </div>
        <div class="single-day">
            <img src="assets/media/island.webp" alt="">
            <div class="single-desc">
                <p>Ден 2</p>
                <h3>Магично пристигане в Мароко</h3>
                <p>Добре дошли в земята на контрастите, където всеки кът носи история, а въздухът е пропит с аромата на подправки и авантюра. Вашият първи ден започва с топло посрещане и настаняване в бутикова вила, където уютът среща мароканския колорит и обещание за открития. Вечерята ни обещава кулинарно пътешествие, поднесено от нашия личен готвач, който ще ви запознае със забележителните вкусове на Мароко. Вечерта е озарена от игри и опознавателни дейности, които ще ви помогнат да се сближите с вашите спътници в пътешествието.</p>
            </div>
        </div>
        <div class="single-day">
            <img src="assets/media/desert.webp" alt="">
            <div class="single-desc">
                <p>Ден 3</p>
                <h3>Магично пристигане в Мароко</h3>
                <p>Добре дошли в земята на контрастите, където всеки кът носи история, а въздухът е пропит с аромата на подправки и авантюра. Вашият първи ден започва с топло посрещане и настаняване в бутикова вила, където уютът среща мароканския колорит и обещание за открития. Вечерята ни обещава кулинарно пътешествие, поднесено от нашия личен готвач, който ще ви запознае със забележителните вкусове на Мароко. Вечерта е озарена от игри и опознавателни дейности, които ще ви помогнат да се сближите с вашите спътници в пътешествието.</p>
            </div>
        </div>
        <div class="single-day">
            <img src="assets/media/beach2.webp" alt="">
            <div class="single-desc">
                <p>Ден 4</p>
                <h3>Магично пристигане в Мароко</h3>
                <p>Добре дошли в земята на контрастите, където всеки кът носи история, а въздухът е пропит с аромата на подправки и авантюра. Вашият първи ден започва с топло посрещане и настаняване в бутикова вила, където уютът среща мароканския колорит и обещание за открития. Вечерята ни обещава кулинарно пътешествие, поднесено от нашия личен готвач, който ще ви запознае със забележителните вкусове на Мароко. Вечерта е озарена от игри и опознавателни дейности, които ще ви помогнат да се сближите с вашите спътници в пътешествието.</p>
            </div>
        </div>
    </div>
    
  </section>
  <app-price-side/>