
<section class="create-stories">
    <div class="background-stories"></div>

    <section class="stories-create">
        <form [formGroup]="storyForm" (ngSubmit)="onSubmit()">
            <div>
              <label for="destination">Дестинация:</label>
              <input id="destination" formControlName="destination">
            </div>
            <div>
              <label for="title">Заглавие:</label>
              <input id="title" formControlName="title">
            </div>
            <div>
              <label for="author">Автор:</label>
              <input id="author" formControlName="author">
            </div>
            <div>
              <label for="image">Снимка URL:</label>
              <input id="image" formControlName="image" type="url">
            </div>
            <div>
              <label for="description">Описание:</label>
              <textarea id="description" formControlName="description"></textarea>
            </div>
            <button type="submit" [disabled]="!storyForm.valid">Изпрати</button>
          </form>
          
    </section>
</section>
