
<section class="cookie-policy">
    <div class="container">
      <h2>Политика за бисквитки</h2>
      <div class="content-police">
        <p>Добре дошли във Frame Travel LTD - вашето пътуване започва тук!</p>
        <p>Ние използваме бисквитки на нашия уебсайт. С използването на уебсайта ни, вие се съгласявате с тази политика за бисквитки.</p>
        <h3>Какво са бисквитките?</h3>
        <p>Бисквитките са малки текстови файлове, които могат да бъдат използвани от уебсайтовете, за да направят потребителския опит по-ефективен.</p>
        <h3>Какви бисквитки използваме?</h3>
        <ul>
          <li><strong>Стриктно необходими бисквитки:</strong> Тези бисквитки са необходими за правилното функциониране на уебсайта и не могат да бъдат деактивирани в нашата система. Обикновено се задават само като отговор на действия, направени от вас, които са еквивалентни на заявка за услуга, като настройка на предпочитанията за поверителност, влизане или попълване на форми.</li>
          <li><strong>Аналитични бисквитки:</strong> Тези бисквитки ни позволяват да броим посещенията и трафика, които помагат да анализираме производителността на нашия уебсайт и да подобрим навигацията на потребителя.</li>
          <li><strong>Функционални бисквитки:</strong> Тези бисквитки позволяват на уебсайта да предлага подобрени функционалности и персонализация, като запомня примерно избора на език или регион.</li>
          <li><strong>Рекламни бисквитки:</strong> Тези бисквитки се използват за персонализиране на рекламни съобщения, които са по-релевантни за вас и вашите интереси. Те също така могат да бъдат използвани за ограничаване на броя на показванията на рекламата или за измерване на ефективността на рекламните кампании.</li>
        </ul>
        <h3>Как да контролирате бисквитките?</h3>
        <p>Можете да контролирате и/или изтривате бисквитките по ваш избор. За повече информация, моля, прегледайте съответните настойки във вашия браузър.</p>
        <h3>Промени в нашата политика за бисквитки</h3>
        <p>Може да променим нашата политика за бисквитки от време на време, като публикуваме актуализации на тази страница.</p>
        <h3>Свържете се с нас</h3>
        <p>Ако имате въпроси относно нашата политика за бисквитки, моля, свържете се с нас чрез електронна поща или телефон.</p>
      </div>
    </div>
  </section>
  
