<div class="container">
    <section class="left-side">
        <h3>Защо пътуваш с нас</h3>
        <h2>Знаем, че обичаш да организираш сам своите пътувания.</h2>
        <p>Ние също. Затова ще ти спестим това време и ще се погрижим за всички непредвидени обстоятелства, които могат да се появят.</p>
        <a href="#">Научете повече за нас</a>
    </section>
    <section class="right-side">
        <div class="item">
            <i class="fa-solid fa-briefcase icon"></i>
            <div>
                <h3>Само трябва да стигнеш на летището</h3>
                <p>Нашите програми включват всичко. Само трябва да се появиш на летището и да не забравяш документите си. За всичко друго сме се погрижили.</p>
            </div>
        </div>
        <div class="item">
            <i class="fa-regular fa-hand-spock icon"></i>
            <div>
                <h3>Ние ще ти осигурим добра компания     </h3>
                <p>Наясно сме, че с годините става все по-трудно да се организираш с приятели. Няма по-добър начин да откриеш нова компания от това да пътувате заедно.</p>
            </div>
        </div>
        <div class="item">
            <i class="fa-solid fa-globe icon"></i>
            <div>
                <h3>Ще те изненадаме с доза приключение     </h3>
                <p>Пътуванията ни са добре планирани, но се подобряват всеки път и създават нови приключения. Имаме гъвкав график и сме отворени за предложения.</p>
            </div>
        </div>
    </section>
</div>
