<div class="image-row-header">
  <div appTilt class="image-container-hero">
    <a href="#"><img src="/assets/media/nk.webp" alt="Image 1"></a>
    <div class="overlay-hero">
      <h3>Заглавие 1</h3>
      <p>Кратко описание тук.</p>
    </div>
  </div>

  <div appTilt class="image-container-hero">
    <a href="#"><img src="/assets/media/desert.webp" alt="Image 2"></a>
    <div class="overlay-hero">
      <h3>Заглавие 1</h3>
      <p>Кратко описание тук.</p>
    </div>
  </div>
  <div appTilt class="image-container-hero">
    <a href="#"><img src="/assets/media/yaht.webp" alt="Image 3"></a>
    <div class="overlay-hero">
      <h3>Заглавие 1</h3>
      <p>Кратко описание тук.</p>
    </div>
  </div>
  <div appTilt class="image-container-hero">
    <a href="#"><img src="/assets/media/island.webp" alt="Image 4"></a>
    <div class="overlay-hero">
      <h3>Заглавие 1</h3>
      <p>Кратко описание тук.</p>
    </div>
  </div>
</div>