/* row image  */
.row-side{
  display: flex;
  /* justify-content: space-around; */
  justify-content: center;
  gap: 2em;
  flex-wrap: nowrap;
  position: absolute;
  bottom: -15%;
  flex-wrap: wrap;
  left: 0;
  right: 0;
}

.image-row-header {
    display: flex;
    /* justify-content: space-around; */
    justify-content: center;
    gap: 2em;
    flex-wrap: nowrap;
    /* position: absolute; */
    bottom: -15%;
    flex-wrap: wrap;
    left: 0;
    right: 0;
  }
  
  .image-container-hero {
    position: relative; 
    width: 320px;
    margin-bottom: 20px;

  }
  
  .image-container-hero img {
    width: 100%; 
    height: 350px; 
    border-radius: 15px;
    object-fit: cover; 
  }
  
  .overlay-hero {
    position: absolute;
    bottom: 5px; 
    left: 0;
    right: 0;
    /* background: rgba(0, 0, 0, 0.5);  */
    color: white; 
    padding: 10px; 
    border-radius: 0 0 15px 15px; 
  }
  
  .overlay-hero h3, .overlay-hero p {
    margin: 0; 
    text-align: center;
  }
  