<section class="create-page">
  <video [autoplay]="true" [loop]="true" [muted]="true" [playsInline]="true" class="background-video">
    <source src="/assets/media/create.mp4" type="video/mp4" />
  </video>
  <div class="create-form">

    <form [formGroup]="createForm" (ngSubmit)="onSubmit()">

      <div class="create-hero" *ngIf="currentFormSection === 1">
        <h2>Създай своето приключение </h2>

        <!-- Label за качване на снимка -->
        <label for="imageFile" class="upload-label">Качи снимка</label>
        <input type="file" id="imageFile" class="imageFile" (change)="onImageChange($event)">
        <img *ngIf="imagePreview" [src]="imagePreview">

        <!-- Label за заглавие -->
        <label for="heroTitle" class="title-label">Дестинация</label>
        <input type="text" id="heroTitle" class="hero-title" formControlName="title"
          placeholder="добави своята дестинация">

        <!-- Label за параграф -->
        <label for="heroParagraph" class="paragraph-label">Описание</label>
        <textarea id="heroParagraph" formControlName="paragraph" class="hero-paragraph"
          placeholder="Параграф"></textarea>
      </div>
      <div class="create-hero" *ngIf="currentFormSection === 2">
        <h2>Опиши своята екскурзия</h2>

        <!-- Label за качване на снимка -->
        <label for="imageFiles" class="upload-label">Качи снимка</label>
        <input type="file" id="imageFiles" class="imageFiles" (change)="onImagesChange($event)" multiple>
        <div class="images-preview" *ngIf="imagesPreview.length > 0">
          <img *ngFor="let img of imagesPreview" [src]="img" class="image-preview">
        </div>

        <!-- Label за заглавие -->
        <label for="heroTitle" class="title-label">За града</label>
        <input type="text" id="heroTitle" class="hero-title" formControlName="title-desc"
          placeholder="добави своята дестинация">

        <!-- Label за параграф -->
        <label for="heroParagraph" class="paragraph-label">Опиши го</label>
        <textarea id="heroParagraph" formControlName="info-desc" class="hero-paragraph"
          placeholder="Параграф"></textarea>
      </div>
      <div class="create-btn">
        <a routerLink="#" class="btn lights-back" *ngIf="currentFormSection !== 1"
          (click)="goToPreviousSection()">back</a>
        <a routerLink="#" class="btn lights" (click)="goToNextSection()"
          *ngIf="!createForm.valid && currentFormSection < totalFormSections">next</a>
      </div>
      <div class="submit-btn">
        <button type="submit" class="btn lights-submit" *ngIf="createForm.valid">Save</button>
      </div>
    </form>

  </div>

</section>