.create-page {
    display: flex;
    max-width: 100%;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    position: relative;
}

.background-video {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    filter: brightness(50%);
    /* Намалява яркостта на видеото до 50%. Можете да регулирате стойността според нуждите си. */
    /* filter: blur(4px); */
}

.create-form{
  width: 780px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    /* align-items: center; */
    background-color: transparent;

    border: 2px solid black;
    padding: 1em;
    border-radius: 15px;
    color: white;

}
.create-hero{
    font-size: 1.5em;
    width: 100%;
    gap: 1em;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    /* align-items: center; */
    padding: 4em;

}
.submit-btn {
    display: flex;
    justify-content: center;
}
.create-hero textarea{
    height: 90px;
    font-size: 1.1em;
    border-radius: 5px;
}
.create-hero input{
    border-radius: 5px;
  
    font-size: 1.1em;
}
.create-btn{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    padding: 0 2em;
    padding-bottom: 2em;

}
.create-btn a{
    width: 180px;
    height: 50px;
    border-radius: 5px;
    background: transparent;
    position: relative;
    /* display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center; */
    overflow: hidden;
    transition: all 0.3s ease-in;
}
.btn:hover {
    transform: translateY(-5px);
  }
  
.lights::before {
    content: "";
    position: absolute;
    background-image: conic-gradient(
      rgb(10, 138, 31) 20deg,
      transparent 150deg
    );
    width: 400%;
    height: 400%;
    border-radius: 5px;
    animation: rotate 3s linear infinite;
  }
.lights::after {
    content: "NEXT";
    position: absolute;
    width: 170px;
    height: 40px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(35px);
    -webkit-backdrop-filter: blur(35px);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    border-radius: 5px;
  }
  .btn:hover {
    transform: translateY(-5px);
  }
  .lights-back::before {
    content: "";
    position: absolute;
    background-image: conic-gradient(
      rgb(219, 49, 26) 20deg,
      transparent 150deg
    );
    width: 400%;
    height: 400%;
    border-radius: 5px;
    animation: rotate 3s linear infinite;
  }
.lights-back::after {
    content: "BACK";
    position: absolute;
    width: 170px;
    height: 40px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(35px);
    -webkit-backdrop-filter: blur(35px);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    border-radius: 5px;
  }
  .lights-submit::before {
    content: "";
    position: absolute;
    background-image: conic-gradient(
      rgb(216, 178, 10) 20deg,
      transparent 150deg
    );
    width: 400%;
    height: 400%;
    border-radius: 5px;
    animation: rotate 3s linear infinite;
  }
.lights-submit::after {
    content: "SUBMIT";
    position: absolute;
    width: 170px;
    height: 40px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(35px);
    -webkit-backdrop-filter: blur(35px);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    border-radius: 5px;
  }


.create-hero img{
    width: 200px;
    height: auto;
    aspect-ratio: 1/1;
}

.create-form h2{
    text-align: center;
    font-size: 2.5em;
    font-weight: 600;
    -webkit-text-stroke: 0.8px rgb(168, 239, 255, 1);
    /* color: white; */
    transition: all 0.5s ease;
}



@media (min-aspect-ratio: 16/9) {
    .background-video {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 4/3) {
    .background-video {
        width: auto;
        height: 100%;
    }
}