<section class="email">
    <form class="contact-form" (submit)="sendEmail($event)">
        <mat-form-field class="form-group">
          <input matInput  placeholder="Your Name" name="user_name">
        </mat-form-field>
      
        <mat-form-field class="form-group">
          <input matInput  placeholder="Your Email" name="user_email" >
        </mat-form-field>
      
        <mat-form-field class="form-group">
          <textarea matInput  placeholder="Subject" name="subject"></textarea>
        </mat-form-field>
      
        <mat-form-field class="form-group">
          <textarea matInput placeholder="Type Message" name="message"></textarea>
        </mat-form-field>
      
        <button type="submit" mat-raised-button color="primary" class="btn">Send</button>
      </form>
</section>
