<section class="question">
    <h3>Често Задавани Въпроси</h3>
    <section class="btns-qa">
    <mat-accordion>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
                Мога ли да взема фактура за пътуването?
            </mat-panel-title>
            <!-- <mat-panel-description>
              This is a summary of the content
            </mat-panel-description> -->
          </mat-expansion-panel-header>
          <p>Разбира се! Нашите пътувания са подходящи и за team building групи. Само молим да ни кажете това още от самото начало, за да го предвидим.</p>
        </mat-expansion-panel>
      </mat-accordion>
      <mat-accordion>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
                Как става плащането?
            </mat-panel-title>
            <!-- <mat-panel-description>
              This is a summary of the content
            </mat-panel-description> -->
          </mat-expansion-panel-header>
          <p>Засега приемаме плащания само по банков път.</p>
        </mat-expansion-panel>
      </mat-accordion>
      <mat-accordion>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
                Може ли данни за фактура?
            </mat-panel-title>
            <!-- <mat-panel-description>
              This is a summary of the content
            </mat-panel-description> -->
          </mat-expansion-panel-header>
          <p>Травел Фрейм енд Турс ООД
            BG208576242
            
            гр. София, ул. Круша Планина 56а, ет.5
            МОЛ: Борислав Илиев</p>
        </mat-expansion-panel>
      </mat-accordion>
    </section>
</section>
