<nav class="social">
    <ul>
        <li><a href="#">Edit <i class="fa-solid fa-user-pen" style="color: #edce02;"></i></a></li>
        <li><a href="#">Delete <i class="fa-solid fa-trash" style="color: #ed0c0c;"></i></a></li>
        <li><a href="#">Comment <i class="fa-regular fa-comment"></i></a></li>
        <!-- <li><a href="#">Behance <i class="fa fa-behance"></i></a></li> -->
    </ul>
</nav>
<link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
