<nav class="social">
    <ul>
        <li>
            <a [routerLink]="['/destination/edit', destinationId]"  routerLinkActive="router-link-active"  [class.disabled]="!isOwner" [attr.aria-disabled]="!isOwner ? true : null">Edit <i class="fa-solid fa-user-pen" [ngStyle]="{'color':isOwner ? '#edce02' : '#ccc'}"></i></a>
          </li>
        <li><a  href="#" [class.disabled]="!isOwner" [attr.aria-disabled]="!isOwner ? true : null">Delete <i class="fa-solid fa-trash" [ngStyle]="{'color':isOwner ? '#ed0c0c' : '#ccc'}"></i></a></li>
        <li><a href="#">Comment <i class="fa-regular fa-comment"></i></a></li>
        <!-- <li *ngIf="isOwner" class="disabled" style="font-size: 1.2em;" class="fa-solid fa-user-pen" ><a href="">Нямате права за редакция или изтриване</a></li> -->
    </ul>
</nav>
<link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
