.form-errors {
    position: fixed;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: auto;
    padding: 10px;
    /* background-color: rgba(255, 0, 0, 0.7); */
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
    /* border-radius: 8px; */
    z-index: 1050; 
    animation: slideIn 0.5s ease-out;
  }
  .form-errors div{
    margin-bottom: 10px; 
    margin-bottom: 1em;
    color: #fff; 
    font-weight: bold;
  }
  @keyframes slideIn {
    from {
      opacity: 0;
      transform: translateY(-50%) translateX(20px);
    }
    to {
      opacity: 1;
      transform: translateY(-50%) translateX(0);
    }
  }


  .error-message-animation {
    margin-bottom: 10px;
    padding: 10px;
    background-color: rgba(255, 0, 0, 0.7);
    color: white;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    animation: fadeInRight 0.5s ease-out forwards;
    opacity: 0; /* Начална прозрачност, която ще бъде променена от анимацията */
  }
  @keyframes fadeInRight {
    from {
      opacity: 0;
      transform: translateX(20px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }