.results {
    display: grid;
    column-gap: 14px;
    row-gap: 14px;
    grid-template-columns: repeat(auto-fill, minmax(400px, 400px));
    margin-top: 50px;
    justify-content: center;
  }
.search-bar{
    width: 1340px;
    margin: 0 auto;
    position: relative;
}

.search-bar form {
   display: flex;
   justify-content: center;
   align-items: center;
    position: absolute;
    top: 250px;
    left: 0;
    right: 0;
}


.search-bar input[type="text"]{
    border: solid 1px  #343196;
    padding: 10px;
    border-radius: 8px;
    margin-right: 4px;
    display: inline-block;
    width: 30%;
}
.search-bar button{
    padding: 10px;
    border: solid 1px #343196;
    background: #605dc8;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}