<ng-container *ngIf="hasComments">
<div class="home-carousel">
    <main #mainElement> 
        <h2>Последни коментари </h2>

        <div class="slider">
            <div class="slide-row" #slideRow>
              <div class="slide-col" *ngFor="let comment of commentsList">
                <a [routerLink]="['/destination/details/comments', comment.destinationId]" class="content-home-link">
                    <div class="content-home">
                        <p>{{ comment.commentText | slice:120}}</p>
                        <h2>{{ comment.name ? comment.name : comment.username }}</h2>
                        <!-- <p>Author</p> -->
                    </div>
                </a>
                    <div class="hero">
                        <img src="https://user-images.githubusercontent.com/13468728/234031693-6bbaba7d-632c-4d7d-965f-75a76a549ce2.jpg" alt="avatar">
                    </div>
                </div>
    
          

            </div>
        </div>
        
        <div class="indicator">
            <span class="btn" *ngFor="let btn of btns; let i = index" [class.active]="i === currentIndex" (click)="setActiveBtn(i)"></span>
        </div>
    </main>
</div>

</ng-container>