<div class="home-carousel">
  <main #mainElement> 
      <h2>Stories</h2>

      <div class="slider">
          <div class="slide-row" #slideRow >
            <div class="slide-col"*ngFor="let story of stories" >
                  <div class="content-home">
                      <h2>{{story.title}}</h2>
                      <p>{{story.description | slice:0:90}}</p>

                      <!-- <p>Author</p> -->
                  </div>
                  <div class="hero">
                      <img src="{{story.image}}" alt="avatar">
                  </div>
              </div>
  
           
  
        
        

          </div>
      </div>
      
      <div class="indicator">
          <span class="btn" *ngFor="let btn of btns; let i = index" [class.active]="i === currentIndex" (click)="setActiveBtn(i)"></span>
      </div>
  </main>
</div>