<section class="site-header">


  <header>
    <a href="#"
      ><img
        src="assets/media/logo.png"
        alt="logo"
        class="logo"
    /></a>

    <input type="checkbox" id="check" />
    <label for="check" class="icons">
      <i class="bx bx-menu" id="menu-icon"></i>
      <i class="bx bx-x" id="close-icon"></i>
    </label>

    <nav class="navbar">
      <a href="#" class="nav-item" style="--i: 0">Home</a>
      <a href="#" class="nav-item" style="--i: 1">Plan Your Visit</a>
      <a href="#" class="nav-item" style="--i: 2">Magical Places</a>
      <a href="#" class="nav-item" style="--i: 3">Contact</a>
      <a routerLink="/login" class="nav-item">Login</a>

    </nav>
  </header>


<!-- images row -->

</section>