header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s ease;
    z-index: 5;
  }

  
  header.scrolled {
    /* Дефинирайте стиловете, които искате да приложите когато navbar е променен при скрол надолу */
    background-color: rgba(0, 0, 0, 0.8); /* Пример за промяна на фона при скрол надолу */
  }


  /* .site-header{
    position: relative;;
  } */
  .logo {
    width: 9em;
  }

  .nav-item {
    position: relative;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: -0.13px;
    text-decoration: none;
    margin-left: 2.5rem;
    transition: all 0.5s ease;
  }
  
  .nav-item:hover {
    color: rgb(168, 239, 255, 0.9);
  }
  
  .nav-item::after {
    content: "";
    position: absolute;
    bottom: -0.3rem;
    left: 50%;
    width: 0;
    height: 0.15rem;
    transform: translateX(-50%);
    background-color: rgb(168, 239, 255, 0.9);
    transition: all 0.5s ease;
  }
  
  .nav-item:hover::after {
    width: 100%;
  }
  .navbar a{
    font-size: 1.5em;
  }
  .icons {
    position: absolute;
    right: 5%;
    font-size: 2.3rem;
    color: #fff;
    cursor: pointer;
    display: none;
  }
  
  #check {
    display: none;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .content h1 {
    font-size: 8rem;
    font-weight: 600;
    -webkit-text-stroke: 0.8px rgb(168, 239, 255, 1);
    color: white;
    transition: all 0.5s ease;
  }
  .content p{
    font-size: 2em;
    font-weight: 600;
    color: white;
    margin-bottom: 2em;
    -webkit-text-stroke: 0.2px rgb(168, 239, 255, 1);
    transition: all 0.5s ease;

  }
  
  .btn {
    width: 180px;
    height: 50px;
    border-radius: 5px;
    background: transparent;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: all 0.3s ease-in;
  }
  
  .btn:hover {
    transform: translateY(-5px);
  }
  
  .light::before {
    content: "";
    position: absolute;
    background-image: conic-gradient(
      rgb(168, 239, 255, 1) 20deg,
      transparent 150deg
    );
    width: 400%;
    height: 400%;
    border-radius: 5px;
    animation: rotate 3s linear infinite;
  }
  
  .light::after {
    content: "Explore";
    position: absolute;
    width: 170px;
    height: 40px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(35px);
    -webkit-backdrop-filter: blur(35px);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    border-radius: 5px;
  }
  


  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  .background-video {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    filter: brightness(70%); /* Намалява яркостта на видеото до 50%. Можете да регулирате стойността според нуждите си. */

  }
  
  @media (min-aspect-ratio: 16/9) {
    .background-video {
      width: 100%;
      height: auto;
    }
  }
  
  @media (max-aspect-ratio: 4/3) {
    .background-video {
      width: auto;
      height: 100%;
    }
  }
  
  @media (max-width: 900px) {
    header {
      padding: 1.3rem 5%;
    }
  
    .content h1 {
      font-size: 7rem;
    }
  }
  
  @media (max-width: 700px) {
    header::before {
      content: "";
      top: 0;
      left: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(50px);
      z-index: -1;
    }
  
    header::after {
      content: "";
      top: 0;
      left: -100%;
      position: absolute;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        90deg,
        transparent,
        rgba(255, 255, 255, 0.4),
        transparent
      );
      transition: 0.8s;
    }
  
    .icons {
      display: inline-flex;
    }
  
    #check:checked ~ .icons #menu-icon {
      display: none;
    }
  
    .icons #close-icon {
      display: none;
    }
  
    #check:checked ~ .icons #close-icon {
      display: block;
    }
  
    .navbar {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 0;
      background: rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(50px);
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
      overflow: hidden;
      transition: all 0.3s ease;
    }
  
    #check:checked ~ .navbar {
      height: 17.7rem;
    }
  
    .nav-item {
      display: block;
      font-size: 1.1rem;
      margin: 2rem 0;
      text-align: center;
      transform: translateY(-50px);
      opacity: 0;
      transition: all 0.3s ease;
    }
  
    .nav-item:hover::after {
      width: auto;
    }
  
    #check:checked ~ .navbar a {
      transform: translateY(0);
      opacity: 1;
      transition-delay: calc(0.15s * var(--i));
    }
  }
  
  @media (max-width: 620px) {
    .content h1 {
      font-size: 5rem;
    }
  }
  
  @media (max-width: 450px) {
    .content h1 {
      font-size: 3rem;
    }
    
    .btn {
      width: 130px;
    }
    
    .light::after {
      width: 120px;
      font-size: 0.9rem;
    }
  }
  
  .dropdown {
  position: relative;
  position: absolute;
  top: 25px;
  right: 25px;
  display: inline-block;
  margin-left: auto; 
}

.dropdown-toggle {
  border: none;
  cursor: pointer;
  border-radius: 50%; 
  width: 60px; 
  height: 60px; 
}

.dropdown-menu {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  opacity: 0; 
  transition: opacity 0.5s ease; 
}
.dropdown-menu a{
  transition: transform 0.3s ease, color 0.3s ease;
  color: #000; 
  text-decoration: none;
  margin: 0 10px; 
  cursor: pointer;
}
.dropdown-menu a:hover {
  transform: scale(1.1); 
  color: #007bff; 
}
.dropdown:hover .dropdown-menu {
  display: block;
  opacity: 1; 
}

.dropdown-item {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}