<section class="site-header">


  <header [class.scrolled]="scrolledDown">
    <a routerLink="/home"
      ><img
        src="assets/media/logo-light.png"
        alt="logo"
        class="logo"
    /></a>

    <input type="checkbox" id="check" />
    <label for="check" class="icons">
      <i class="bx bx-menu" id="menu-icon"></i>
      <i class="bx bx-x" id="close-icon"></i>
    </label>

    <nav class="navbar">
      <a routerLink="/home" class="nav-item" style="--i: 0">Начало</a>
      <a routerLink="/create" class="nav-item" style="--i: 1">Твоето приключение</a>
      <a routerLink="destination" class="nav-item" style="--i: 2">Дестинации</a>
      <a routerLink="/" class="nav-item" style="--i: 3">Контакти</a>
      <a routerLink="/auth" class="nav-item">Sign Up</a>

    </nav>
  </header>


<!-- images row -->

</section>