<!-- <p>create-stories works!</p> -->
<section class="background">
  <app-asise-menu-stories/>
    <section class="comment-main">
      <h2>Истории, които се разказват и споделят</h2>
      <!-- Списък с коментари -->
      <section class="comment-info" *ngFor="let story of storiesList">
        
          <img [routerLink]="['/blog/details', story._id]" class="author-img" src="{{story.image}}" alt="img">
          <section class="comment">
                <h3>{{story.title}}</h3>
              <h4>{{ story.description | slice:300}}</h4>
              <div class="author">
                <div class="person-info">
                  <img src="{{story.image}}" alt="author-img">
                  
                  <p>{{ story.author}}</p>
                </div>
                  <p>{{ story._createdOn | date:'medium'}}</p>

              </div>
              
          </section>
          <button class="like-button" (click)="toggleLike(story._id)" [ngClass]="{'liked': isLiked[story._id]?.liked, 'unliked': !isLiked[story._id]?.liked}">
            <i class="fa fa-thumbs-up"></i>
        </button>
        <p class="likes-count">{{ story.likesCount }}</p>
        
      </section>
      <!-- Пагинация -->
      <nav *ngIf="hasStories && totalPages > 1">
        <ul class="pagination">
          <li *ngFor="let page of pagesArray">
            <ng-container *ngIf="isNumber(page); else ellipsis">
              <!-- Проверяваме дали page е число преди да извикаме navigateToPage -->
              <button (click)="navigateToPage(page)" [class.active]="page === currentPage">{{ page }}</button>
            </ng-container>
            <ng-template #ellipsis><span>...</span></ng-template>
          </li>
        </ul>
      </nav>
     
    </section>
  </section>

  