
<section class="contact">
    <section class="hero">
    <video [autoplay]="true" [loop]="true" [muted]="true" [playsInline]="true" class="background-video">
        <source src="/assets/media/catamaran1.mp4" type="video/mp4" />
      </video>
      <section class="content-contact">
        <h2>Питай смело!</h2>
        <p>На разположение за всякакви въпроси.</p>
        <section class="info-btn-contact">
            <a ><i class="fa-solid fa-phone-volume"> + 894 371 779</i></a>
            <a ><i class="fa-regular fa-envelope-open"> borislaviliev47&#64;gmail.com</i></a>
        </section>
      </section>
    </section>

</section>

<app-questions/>
<app-how-are/>
<section class="mail-contact">
<app-email-form/>
<app-contact-map/>
</section>