@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/fontawesome.min.css';

.mail-contact{
  display: flex;
  justify-content: center;
  gap: 2em;
  padding: 0 0 3em 0;
}

.contact{
    padding-top: 5em;
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    gap: 2em;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero{
  height:60vh;
}
.background-video {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
  filter: brightness(50%);
  /* Намалява яркостта на видеото до 50%. Можете да регулирате стойността според нуждите си. */
  /* filter: blur(4px); */
}
.content-contact{
  padding-top: 7em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content-contact h2 {
  color: rgb(255, 255, 255);
  font-size: 5.2em;
  padding-bottom: 0.1em;
}
.content-contact>p{
  color: rgb(255, 255, 255);
  font-size: 1.3em;
  padding-bottom: 2.6em;
}
.info-btn-contact{
  display: flex;
  flex-wrap: nowrap;
  gap: 1em;
  align-items: center;
  justify-content: center;
}


.info-btn-contact a {
  text-align: center;
  width: 500px;
  color: white;
  font-size: 1em;
  text-decoration: none;
  background-color: rgba(54, 53, 53, 0.7);
  padding: 2em ;
  border-radius: 25px;
 backdrop-filter:blur(0px);
 text-transform: lowercase;
}

.fa-phone-volume{
color: white;
}