<div class="background">
<section class="details-side-story">
    <div class="main-story">
        <div class="story-info">
            <h4>{{(story?.destination || '')  }}</h4>
            <h2>{{story?.title}}</h2>
            <div class="author-story">
                <img src="{{story?.authorImage || '/assets/media/desert.webp'}}" alt="">
                <p>{{story?.author}}</p>
            </div>
        </div>
        <img src="{{story?.image|| '/assets/media/desert.webp'}}" alt="" class="story-img">
        <p style="white-space: pre-wrap;" class="desc-story">{{(story?.description || '') | addNewLine}}</p>

        <div class="author-story">
            <img src="{{story?.authorImage || '/assets/media/desert.webp'}}" alt="">
            <p>{{story?.author}}</p>
        </div>
        <div class="back-btn">
        <a routerLink="/blog" class="light btn" ></a>
    </div>
    </div>


</section>
</div>