<section class="details-side-story">
    <div class="main-story">
        <div class="story-info">
            <h4>Намибия</h4>
            <h2>Да се изгубиш, за да се намериш</h2>
            <div class="author-story">
                <img src="/assets/media/desert.webp" alt="">
                <p>Ева Великова</p>
            </div>
        </div>
        <img src="/assets/media/desert.webp" alt="" class="story-img">
        <p class="desc-story">От години пътувам из Африка. Влюби ме в себе си нито от пръв поглед, нито от пръв дъх.
            Бяха минали няколко лета преди Кения да ме порази, приземи и промени. От тогава насам черният континент
            ме вълнува тъй силно, че всеки път ме докарва до преосмисляне, тих бунт и сълзи.

            Тъжен, смирен очистващ и благодарствен плач.Намибия показа себе си такава каквато е. Изненадващо за мен
            развита държава от една страна (в градските райони).

            Любимо ми стана крайбрежното градче Swakopmund досущ филмов декор. От друга страна - природна пустош в
            безброй измерения. Истинска пустиня пълна с живот. Ама не шарения и кипящ живот, а дълбочината на
            прехода и смисъла от това да бъдеш.

            Дни, в които госпожа Намибия ме изненадва, изумява, предизвиква, дава шанс и възнаграждава.
            Внушителен керван от десет джипа къщи-палатки на колела. Къмпинги в прахта. В някои с открити бани под
            неописуемото звездно небе и минаващият над главата ти.
            Млечен път и падащи звезди, с вода подгрявана на дърва и закачалка някой клон от растящото в средата на
            банята гигантско дърво Damaraland.

            Пътища до хоризонта и отвъд без асфалт и без дупки, с табели от рода на "внимание! пресича слон". Храна
            на огън, която сам си готвиш . От горещо денем +40° до студено +5° нощес в рамките на денонощието или
            пък в едната нощ да си по гащи, а в следващата с чорапи, яке и колкото спални чувала докопаш и пак да ти
            дрънчат пломбите от студ. От непомръдваща мараня до поривист вятър, способен на косъм да те отнесе
            барабар с палатката докато спиш.

            Sossusvlei. Пясъци, гигантски дюни, сред които спокойно можеш да предадеш Богу дух (щото е +45° и се
            покачва), ако решиш да ги катериш пеша по пладне, но все пак се качваш по заострения ръб до върха, а
            после тичаш десетки метри бос потъващ до колене в мекия пясък на стръмното надолнище към мъртвата
            долина, изсъхнал дом на отдавна неживи дървета, застинали във времето и пространството в сюрреалистичен
            пейзаж Big Daddy, Deadvlei. Бушуващ океан, нежно докосващ дюни като планини, без да ги погълне и погуби,
            негостоприемен към човеците, решили да се разхладят сред бурните му ласки Sandwich Harbour.

            Зъберисти планини от нищото в нищото.
            Великолепието на залези и величието на изгреви над необятни камари обли скали, комай някой великански
            слон се е изкал Spitzkoppe. Тежък оловен облак зависнал над хоризонта вледеняващ диханието и каращ те
            докато шофираш както си бил по потник за норматив да навлечеш всичките дрехи, които са ти под ръка, за
            да не умреш от студ.

            Призрачен кораб, затънал в плитчините на океанския бряг, станал дом на зловещи черни птици Skeleton
            coast. Най-голямата колония тюлени в естествения си хабитат - от любовни авантюри през новородени
            бозаещи бебоци до разлагащи се останки на престарели индивиди, всичко това потънало в проникващата до
            костите смрад на урина и мърша, но пък обзорен поглед на целия житейски цикъл, даващ храна за размисъл
            на всеки блуден ум Cape cross.

            Гостоприемството на племето дамара, живеещо сред скални купчини насред пустинята, подходили така
            великодушно към молбата ми да ме предрешат като една от тях, макар освен по телесните извивки и
            пищността в определени телесни участъци, по нищо да не си приличаме и заедно да се посмеем над резултата
            от това налудничаво взаимно предизвикателство. Мимолетната радост в инак дълбоката тъга в очите на
            малчугани и възрастни раздавайки им храна направо сред прахоляка на пътя докато се опитват да изтъргуват
            на минаващите по някое парче полускъпоценен камък или кристал, изчегъртан от земите до обитаваните от
            тях колиби, за да се нахранят и облекат.

            Колоритността на одеждите на жените по пътищата, които продават лично от тях ушити пазарски торби и
            парцалени кукли, които пък са досущ умалени модели на създателите им.

            Приключението да обикаляш сам по хартиена карта с къщата си на колела из националния парк Етоша и да
            наблюдаваш на една ръка разстояние слонове, леопарди, хиени, жирафи, лъвове, носорози, орикси, зебри,
            гну, щрауси, куду, сурикати и всякакви други бозаещи и пернати в естествената им среда, които с
            достолепие, любопитство и доза надменност те поглеждат в очите и отминават, демонстрирайки, че си само
            гост в техния дом и трябва да се съобразяваш с техните правила и начин на живот.

            Да караш АТВ с главата надолу по 50 метрови отвесни пясъчни дюни, макар да изпитваш панически страх от
            това деяние, защото още те болят всички зле заздравели кости на ръцете след полет и тежка катастрофа с
            такова МПС преди година в друга африканска пустиня и водачът да ти каже, че си твърде екстремен и е
            трудно да те следват в колоната.

            Да се катериш по бодливи дървета насред нищото по пътя, само за да си докажеш, че можеш.

            Да се вмъкваш в причудлив изоставен град, приличащ на гробище на стари автомобили във владение на
            всякакви кактуси и сукуленти Solitaire.

            Да си сготвиш вечеря на въглища от свеж океански улов, който си купил от рибния пазар, покрай който си
            минавал случайно.

            Спонтанно да решиш, че ти се гледа пустинен залез от високо и след час вече да си се качил на малък
            хеликоптер без врати, който спокойно може да мине за играчка в някой изчанчен детски кът и да замъкнеш
            със себе си любимите си двама виновници изобщо да си по тези земи и да видиш как очите им греят.

            Често без ток и обикновено без Wi-Fi, но с обилни емоции и бързи преходи между картини и състояния,
            Намибия не може да се разкаже. Трябва да се преживее.

            Да се изгубиш, за да се намериш.</p>

        <div class="author-story">
            <img src="/assets/media/desert.webp" alt="">
            <p>Ева Великова</p>
        </div>
    </div>


</section>