<section class="last-three-imgs" >
    <div class="img-wrapper">
        <!-- <a href="#"> -->
            <a [routerLink]="['/destination/details', destinations[0]._id]">
            <img src="{{destinations[0].image || '/assets/media/nk.webp'}}" alt="Image 1">
            <div class="image-overlay">
                <h2>{{destinations[0].title}}</h2>
                <p>{{destinations[0]?.['title-desc'] }}</p>
                <div class="info">
                    <span><i class="icon">📍</i>{{destinations[0].title}}</span>
                    <span><i class="icon">📅</i>{{destinations[0].dateRange | dataRange }}</span>
                </div>
            </div>
        </a>
    </div>
    <div class="img-wrapper">
        <!-- <a href="#"> -->
            <a [routerLink]="['/destination/details', destinations[1]._id]">
            <img src="{{destinations[1].image || '/assets/media/nk.webp'}}" alt="Image 2">
            <div class="image-overlay">
                <h2>{{destinations[1].title}}</h2>
                <p>{{destinations[1]?.['title-desc'] }}</p>
                <div class="info">
                    <span><i class="icon">📍</i>{{destinations[1].title}}</span>
                    <span><i class="icon">📅</i>{{destinations[1].dateRange | dataRange }}</span>
                </div>
            </div>
        </a>
    </div>

    <div class="img-wrapper full-width">
            <img src="{{destinations[2].image || '/assets/media/nk.webp'}}" alt="Image 3">
    <a [routerLink]="['/destination/details', destinations[2]._id]">
        
            <div class="image-overlay">

                <h2>{{destinations[2].title}}</h2>
                <p>
                    {{destinations[2]?.['title-desc'] }}
                </p>

                <div class="info">
                    <span><i class="icon">📍</i>{{destinations[2].title}}</span>
                    <span><i class="icon">📅</i>{{destinations[2].dateRange | dataRange }}</span>
                </div>
            </div>
    </a>
            
        </div>

</section>