<section class="last-three-imgs">
    <div class="img-wrapper">
        <!-- <a href="#"> -->
            <img src="/assets/media/nk.webp" alt="Image 1">
            <div class="image-overlay">
                <h2>Singles only</h2>
                <p>Нашият първи по рода си ритрийт за необвързани - една седмица приключения, медитация, игри, спа и партита.</p>
                <div class="info">
                    <span><i class="icon">📍</i>МАРОКО</span>
                    <span><i class="icon">📅</i>1-9 МАЙ</span>
                </div>
            </div>
        <!-- </a> -->
    </div>
    <div class="img-wrapper">
        <!-- <a href="#"> -->
            <img src="/assets/media/yaht.webp" alt="Image 2">
            <div class="image-overlay">
                <h2>NO LIMIT FESTIVAL</h2>
                <p>Откриѝ тайните заливи на Йонийско море с цяла парти флотилия от катамарани.</p>
                <div class="info">
                    <span><i class="icon">📍</i>ГЪРЦИЯ</span>
                    <span><i class="icon">📅</i>15-22 ЮНИ</span>
                </div>
            </div>
        <!-- </a> -->
    </div>
    <div class="img-wrapper full-width">

            <img src="/assets/media/mountain.webp" alt="Image 3">
        
            <div class="image-overlay">
                <h3>Заглавие 3</h3>
                <p>Описание 3</p>
                <div class="info">
                    <span><i class="icon">📍</i>Дестинация 3</span>
                    <span><i class="icon">📅</i>Дата 3</span>
                </div>
            </div>
        </div>
</section>