<section class="footer">
  <section class="footer-up">
    <section class="home-contact">
      <h3>Научавай първи за следващите дестинации, отстъпки и събития.</h3>
      <form (submit)="sendEmailNews($event)">
        <label for="newsField" ></label>
        <input type="email" id="newsField" name="newsField" placeholder="Email*  ">
        <button type="submit">ЗАПИШИ се</button>
      </form>
      <p>С натискането на бутона "<strong>Абонирай се</strong>" се съгласяваш с
        <a href="">Общите Условия</a> и
        <a href="">Политиката за бисквитки</a>
      </p>
    </section>

    <div class="social-media">
      <ul>
        <li><a href="https://www.facebook.com/groups/1552753628842688"><i class="fab fa-facebook-f icon"></i></a></li>
        <li><a href="https://www.linkedin.com/feed/"><i class="fab fa-linkedin-in icon"></i></a></li>
        <li><a href="#"> <i class="fa-brands fa-tiktok icon"></i></a></li> 
        <li><a href="#"><i class="fab fa-google-plus-g icon"></i></a></li>
        <li><a href="#"><i class="fa-brands fa-x-twitter icon"></i></a></li> 
      </ul>
    </div>
    <section class="navi-footer">
      <h3>НАВИГАЦИЯ</h3>
      <h4 routerLink="/destinations">Дестинации</h4>
      <h4 routerLink="/for-us">За Нас</h4>
      <h4 routerLink="/blog">Истории</h4>
      <h4 routerLink="/contact">Контакти </h4>
<div class="partners">
  <h3>НАШИ ПАРТНЬОРИ</h3>
  <a  href="https://softuni.bg/" target="_blank">SoftUni</a>
  <a href="https://dabags.eu/" target="_blank">Dabags</a>
  <a href="https://ambitioned.com/" target="_blank">Ambitioned</a>
  <a href="https://bebodesigns.com/" target="_blank">BeboDesigns</a>
</div>
    </section>
  </section>
<section class="footer-down">
  <section class="footer-logo">
    <a href="#"
    ><img
      src="assets/media/logo-light.png"
      alt="logo"
      class="logo"
  /></a>
  <div class="info">
    <p>&copy; 2024 Travel Frame & Tours</p>
  </div>
  </section>
  <div class="police">
    <h3 routerLink="general-terms">Oбщи условия</h3>
    <h3 routerLink="cookies-police">Политика за бисквитки</h3>
  </div>
</section>
</section>
<!-- <ul>
        <li><a href="#"><i class="fab fa-facebook-f icon"></i></a></li>
        <li><a href="#"><i class="fab fa-linkedin-in icon"></i></a></li>
        <li><a href="#"> <i class="fa-brands fa-tiktok icon"></i></a></li> 
        <li><a href="#"><i class="fab fa-google-plus-g icon"></i></a></li>
        <li><a href="#"><i class="fa-brands fa-x-twitter icon"></i></a></li> 
      </ul> -->