<section class="vertical-menu">
    <ul class="list-menu">
        <li><a [routerLink]="['/destination/details', destinationId]" fragment="overview">{{ title }}</a></li>
        <li><a [routerLink]="['/destination/details', destinationId]" fragment="retreat">За ритрийта</a></li>
        <li><a [routerLink]="['/destination/details', destinationId]" fragment="program">Програма</a></li>
        <li><a [routerLink]="['/destination/details', destinationId]" fragment="comment">Коментари</a></li>
        <li><a [routerLink]="['/destination/details', destinationId]" fragment="prices">Цени и услуги</a></li>
        <li><a [routerLink]="['/destination/details', destinationId]" fragment="join">Запиши се</a></li>
    </ul>

</section>
