<section class="for-us">
    <div class="background-us">
        <section class="hero-side-us">
            <h2>Travel Frame & Tours</h2>
            <p>Не предлагаме закуска, обяд и вечеря в средно добър хотел.
                Ние сме малко на брой приключенци, но ти даваме голям all-inclusive пакет от спомени.</p>
        </section>
    </div>
   <section class="info-us">
    <div class="header-info-us">
        <h3>Хвърли се в приключение!</h3>
        <h5>Не знаеш как? Споко, ще ти дадем парашут или като минимум най-добрия маршрут!</h5>
        <h5>Предлагаме каякинг, водим те на риболов, мъкнем палатки, правим хайкинг, возим се в кемпер, готвим на открито.</h5>
    </div>
    <div class="desc-us">
        <h5>Не обичаме да ни слагат в рамки и all inclusive програми – обичаме ние да си избираме пътя, по който да минем и сами да създаваме спомените си от едни от най-красивите места по света!</h5>
        <p>Затова решихме, че не е достатъчно само да ги трупаме. </p>
        <p>Нужно ни е и да ги споделяме с тези като нас, които обичат адреналина, природата и не се страхуват от непознатото. </p>
        <p>Затова създадохме и нашата нестандартна концепция – за да ви заведем там, където сме били лично и сме останали без думи.</p>
    </div>
   </section>
   <section class="who-travel">
    <div class="title">
        <h2>Кои сме ние</h2>
        <p>Ние сме приключенци като теб. Търсим нови изживявания в непознатото, организираме триповете си сами, пътуваме само с добри приятели.</p>
    </div>
        <div class="friends-1">
            <div class="friend-1-1">
                <img src="/assets/media/for-us/dido.jpg" alt="dido">
                <h3>Деян Славов</h3>
                <p>Главатарят на групата, първи в кухнята и последен за закуска, Дидо е духа и сърцето на операцията.</p>
                <a href="https://github.com/didoslavov" target="_blank">
                    <p><i class="fab fa-github"></i> Деян Славов</p>
                  </a>
            </div>
            <div class="friend-1-2">
                <img src="/assets/media/for-us/georgiev.jpg" alt="">
                <h3>Николай Георгиев</h3>
                <p>Винаги спокоен и балансиран, Ники е най-подходящият човек да планира всяко пътуване и вземе решение дори в най-напрегнатите моменти.</p>
                <a href="https://github.com/Nikolaj-Georgiev" target="_blank">
                    <p><i class="fab fa-github"></i> Николай Георгиев</p>
                  </a>
            </div>
        </div>
        <div class="friends-2">
           
            <div class="friend-2-1">
                <img src="/assets/media/for-us/tsolov.jpg" alt="">
                <h3>Николай Цолов</h3>
                <p>С лаптоп и няколко камери в раницата си, Николай обикаля света в търсене на перфектния кадър. През останалото време се грижи за дизайна и развитието на нашия уеб сайт.</p>
                <a href="https://github.com/ntzolov" target="_blank">
                    <p><i class="fab fa-github"></i> Николай Цолов</p>
                  </a>
            </div>
            <div class="friend-2-2">
                <img src="/assets/media/for-us/bobi.jpg" alt="">
                <h3>Борислав Илиев</h3>
                <p>Боби освен, че пътува навсякъде с нас, играе ключова роля в стратегията и взаимоотношенията ни с партньори.</p>
                <a href="https://github.com/bebo13133" target="_blank">
                    <p><i class="fab fa-github"></i> Борислав Илиев</p>
                  </a>
            </div>
        </div>
   </section>

   <section class="partners">
        <h2>Наши партньори са</h2>
        <p>Колаборираме с любимите си брандове</p>
        <div class="partners-logo">
            <img src="/assets/media/for-us/softuni.png" alt="">
            <img src="/assets/media/for-us/ambitioned.png" alt="">
            <img src="/assets/media/for-us/dabags.jpg" alt="">
        </div>
   </section>
</section>
