<div class="details-price">
    <div class="resize-side">
        <div class="price-side">
            <h4 id="join">Хайде в {{destination?.title}}</h4>

            <p>{{destination?.dateRange | dataRange}}</p>
            <p><span>8 дни 10 жени 10 мъже</span></p>
            <h3>ЦЕНА НА ЧОВЕК</h3>
            <h2>{{destination?.price}}лв.</h2>
            <p>Включва самолетни билети, всички нощувки, транспорт, водачи, храна</p>
            <a  href="#">ЗАПИШИ СЕ </a>
            <h5>Ние ще се свържем с теб, за да ти разкажем повече и отговорим на всичките ти въпроси!</h5>
        </div>
        <div class="notification">
            <h2>В цената са включени:</h2>
                <div *ngFor="let condition of getConditionsArray()" class="notification">           
             <i class="fa-solid fa-square-check"></i> {{conditionLabels[condition.key]}}
            <!-- <div><i class="fa-solid fa-square-check"></i> Всички транспортни разходи</div>
            <div><i class="fa-solid fa-square-check"></i> 8 нощувки (5 нощи във вилата, 2 в пустинята и 1 е Маракеш)</div>
            <div><i class="fa-solid fa-square-check"></i> Всички закуски и вечери</div>
            <div><i class="fa-solid fa-square-check"></i> Практики</div>
            <div><i class="fa-solid fa-square-check"></i> Наем и тур с ATV в пустинята</div>
            <div><i class="fa-solid fa-square-check"></i> Спа център</div>
            <div><i class="fa-solid fa-square-check"></i> 2-ма водачи по време на пътуването от Zero Gravity</div>
            <div><i class="fa-solid fa-square-check"></i> Медицинска застраховка с покритие 10000 евро</div> -->
        </div>


        </div>
    </div>
</div>