
.results {
    display: flex;
    flex-direction: column;
    /* column-gap: 14px;
    row-gap: 14px; */
    /* grid-template-columns: repeat(auto-fill, minmax(400px, 400px)); */
    margin-top: 10px;
    /* justify-content: center; */
    align-items: center;
    padding-bottom: 4em;
    /* position: relative; */
  }
  .results>h2{
  margin-top: 4em;
  font-size: 3em;
  }
.last-three-imgs {
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 3em;
    margin-top: 2em;
    
}

.img-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center; 
    flex: 1 1 45%; 
    /* height: auto;  */
    transition: transform 1.5s ease, box-shadow 0.5s ease;
    overflow: hidden;
    border-radius: 15px;

}
.img-wrapper span{
    text-transform: uppercase;
    
    }
.img-wrapper h2{
font-size: 2.5em;

}
.img-wrapper p{
    font-size: 1.25em;   
    padding : 1em 0;
}
.img-wrapper span{
    font-size: 1.5em;   
}
.img-wrapper:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); 
    overflow: hidden;
}
.img-wrapper.full-width {
    /* flex-basis: 100%;  */
    overflow: hidden;
    border-radius: 15px;

}

.img-wrapper img {
    width: 100%;
    height: 630px; 
    object-fit: cover;
    display: block;
    border-radius: 15px;
    overflow: hidden;
}



.image-overlay {

    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.1); 
    backdrop-filter: blur(5px); 
    color: white; 
    padding: 1em 2em;
    margin-left: 2em;
    margin-bottom: 2em;
    border-radius:15px;
  
    max-width: 80%;

}

.info {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.info span {
    display: flex;
    align-items: center;
    gap: 5px;
    overflow: hidden;
}

.icon {
    font-size: 24px;
    overflow: hidden;
}

.search-bar{
    width: 1440px;
    margin: 0 auto;
    
}

.search-bar form {
   display: flex;
   justify-content: center;
   align-items: center;
    position: absolute;
    top: 200px;
    left: 0;
    right: 0;
}


.search-bar input[type="text"]{
    border: solid 1px  #343196;
    padding: 10px;
    border-radius: 8px;
    margin-right: 4px;
    display: inline-block;
    width: 30%;
}
.search-bar button{
    padding: 10px;
    border: solid 1px #343196;
    background: #605dc8;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

.pagination {
    display: flex;
    list-style-type: none;
    padding: 0;
    justify-content: center;
    padding-bottom: 2em;
  }
  
  .pagination li {
    margin: 0 5px;
  }
  
  .pagination li a {
    display: block;
    padding: 5px 10px;
    background-color: #f0f0f0;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  .pagination li a.active {
    background-color: #007bff; /* Син цвят за активния бутон */
    color: white;
    cursor: default;
  }