<section class="how-are">
    <section class="info-are">
        <div class="we-are">
            <h3>Кои сме ние</h3>
            <p>Фрейм Травел не е комерсиална туристическа агеннция</p>
            <p>Ние не ти предлагаме спокойствие, билети и настаняване в all inclusive хотел с бели покривки. Ние сме тарзан турист и организираме пътешествия на трудно достъпни места, срещаме се с дивата природа, придвижваме с кемпери, катамарани, off road джипове и дори хеликоптери.</p>
            <a routerLink="/for-us">Научи повече за нас</a>
        </div>
    </section>
    <img id="1" src="/assets/media/adv1.webp" alt="adv1">
    <img id="2" src="/assets/media/adv2.webp" alt="adv2">
    <img id="3" src="/assets/media/adv3.webp" alt="adv3">
    <img id="4" src="/assets/media/adv4.webp" alt="adv4">
    <img id="5" src="/assets/media/adv5.webp" alt="adv5">
    <img id="6" src="/assets/media/adv6.webp" alt="adv6">
</section>