
<app-no-authenticated>
<app-form-errors [form]="registerForm"></app-form-errors>

<app-form-errors [form]="loginForm"></app-form-errors>


<div class="login-user">
    <div class="container" [ngClass]="{'right-panel-active': isRightPanelActive}" id="container">
      <div class="form-container sign-up-container">
        <form [formGroup]="registerForm" (ngSubmit)="register()">
          <h1>Create Account</h1>
          <div class="social-container">
            <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
            <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
          </div>
          <span>or use your email for registration</span>
          <input formControlName="name" type="text" placeholder="Name"  />
          <input formControlName="email" type="email" placeholder="Email"  />
          <input formControlName="password" type="password" placeholder="Password" />
          <input formControlName="repeatPassword" type="password" placeholder="Repeat Password" />
          <button type="submit">Sign Up</button>
        </form>
      </div>
      <div class="form-container sign-in-container">
        <form [formGroup]="loginForm" (ngSubmit)="login()">
          <h1>Sign in</h1>
          <div class="social-container">
            <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
            <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
          </div>
          <span>or use your account</span>
          <input formControlName="email" type="email" placeholder="Email"  />
          <input formControlName="password" type="password" placeholder="Password"  />
          <a href="#">Forgot your password?</a>
          <button type="submit">Sign In</button>
        </form>
     
      </div>
   
      <div class="overlay-container">
        <div class="overlay">
          <div class="overlay-panel overlay-right">
            <h1>Welcome Back!</h1>
            <p>To keep connected with us please login with your personal info</p>
            <button class="ghost" (click)="toggleRightPanel()" id="signIn">Sign In</button>
          </div>
          <div class="overlay-panel overlay-left">
            <h1>Hello, Friend!</h1>
            <p>Enter your personal details and start journey with us</p>
            <button class="ghost" (click)="toggleRightPanel()" id="signUp">Sign Up</button>
          </div>
        </div>
      </div>
    
    </div>
    <!-- <div *ngIf="registerForm.errors?.['notSame'] && registerForm.get('repeatPassword')?.touched" class="error">
        Паролите не съвпадат.
      </div> -->
  </div>
</app-no-authenticated>
