
.search-bar{
    width: 1440px;
    margin: 0 auto;
    position: relative;
}

.search-bar form {
   display: flex;
   justify-content: center;
   align-items: center;
    position: absolute;
    top: 250px;
    left: 0;
    right: 0;
}


.search-bar input[type="text"]{
    border: solid 1px  #343196;
    padding: 10px;
    border-radius: 8px;
    margin-right: 4px;
    display: inline-block;
    width: 30%;
}
.search-bar button{
    padding: 10px;
    border: solid 1px #343196;
    background: #605dc8;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}